    .homepage {
        position: relative;
        text-align: center;
        background-size: cover;
    }
    
    .welcome {
        position: absolute;
        height: 300px;
        width: 530px;
        color: white;
        top: 30%;
        margin-top: -30px;
        right: 50%;
        margin-right: -255px;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 9;
        border: 1px solid black;
        border-radius: 15px;
    }
    
    #wel {
        font-size: 70px;
        letter-spacing: .7px;
    }
    
    #lorem {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* letter-spacing: .5px;
        word-spacing: 1px; */
    }